[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
stix2 = "*"
djangorestframework-camel-case = "*"
psycopg2-binary = "*"
drf-nested-routers = "*"
django-better-admin-arrayfield = "*"

[dev-packages]

[requires]
python_version = "3.10"
